img {
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(119, 243, 191, 1) 50%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(50%, rgba(119, 243, 191, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(119, 243, 191, 1) 50%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(119, 243, 191, 1) 50%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(119, 243, 191, 1) 50%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(119, 243, 191, 1) 50%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
}

.panel-default {
    background: #eeeeee;
    /* border-radius: 10%; */
    margin-top: 1em;
}

.book-card {
    /* border: 1px solid red; */
    /* background-color: #fff; */

}

a.back-button {
    color: inherit;
    font-size: 1.3em;
}

a.back-button:hover {
    text-decoration: none;
}